@import "variables";
@import "theme";

.cell {
  box-sizing: border-box;
  flex: 47% 0 0;
  height: 150px;
  margin: $margin-5 0 $margin-5 2%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #ffffff;
  position: relative;

  @media (min-width: 768px) {
    flex: 30.6% 0 0;
  }

  @media (min-width: 992px) {
    flex: 22.5% 0 0;
  }

  @media (min-width: 1200px) {
    flex: 17.6% 0 0;
    margin: $margin-15 0 $margin-15 2%;
    height: 250px;
  }

  i.file-type {
    position: absolute;
    top: 30%;
    align-self: center;
    font-size: 5em;
    color: $text-secondary-on-primary;
  }

  &:focus {
    outline: 4px solid $focus-color;
    box-shadow: 0 0 50px $focus-color;
  }
}