@import "variables";
@import "theme";

.file {
  background: linear-gradient(#e4e0e0, $primary-background-color);

  .created-at {
    margin: $margin-5 0;
    font-size: 0.8em;
  }
}

.folder {
  color: #ffffff;
  background: linear-gradient($primary-color, $secondary-primary-color, $primary-background-color);

}

.file, .folder {
  padding: $padding-5;

  @media (min-width: 1200px) {
    padding: $padding-10;
  }

  .file-name {
    margin: $margin-5 0;
    font-size: 1.2em;
  }

  .file-name, .created-at {
    z-index: 1;
  }
}