@import "variables";
@import "theme";

.secondary-title-bar {
  .secondary-title-bar-title {
    margin: 0;
  }

  .back-btn {
    border: none;
    background-color: $primary-background-color;
    color: $text-on-primary;
    font-size: 1.5em;
    margin-right: $margin-15;
    border-radius: 50px;
    padding: 15px 25px;

    &:focus {
      outline: none;
      background-color: $focus-color;
    }
  }

  span {
    margin-top: $margin-10;
  }
}